/* Header */
.headerCls {
    background-color: #000;
    height: 60px;
}


.modal_subhead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modal_head_txt {
    font-weight: 600;
    font-size: 25px;
}
.modal_close_icon_container {
    display: flex;
    justify-content: end;
}

.modal_close_icon {
    color: var(--primary-color);
    cursor: pointer;
    font-size: 20px;
}
.input_box {
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 6px 12px 6px 30px;
    color: var(--label-color);
    outline: none;
    box-sizing: border-box;
}

.input_container .input_box {
    padding-right: 33px;
}
.loader_modal .modal-content {
    border: none !important;
    background-color: transparent !important;
    align-items: center;
}